* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #282222;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

#block {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 200px;
  height: 200px;
  background-image: url("../img/dado.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.btn {
  width: 150px;
  height: 80px;
  margin: 10px 0;
  background-color: #745410;
  box-shadow: 4px 4px 4px #000000;
  border-color: #000000;
  cursor: pointer;
  color: #ffffff;
}
.btn:focus {
  outline: none;
}

#text {
  padding: 0 30px;
}
#text > p {
  margin: 15px 0;
}
#pc-number,
#user-number {
  margin-left: 5px;
  font-size: 25px;
}

#result {
  width: 80%;
  padding: 20px 0;
  margin: auto;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}
